@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-image: url('./img/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
} */

.invite-wrapper {
    position: relative;
    padding: 30px;
}

.screen {
    display: none;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: #fff6e8;
    border-radius: 18px;
}

.screen.active {
    display: block;
}

form {
    background: #fff6e8;
    border: 3px solid #f55854;
    padding: 30px;
    border-radius: 18px;
}

h1 {
    font-size: 28px;
    color: #0e6141;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 1px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    font-size: 14px;
    color: #1f2937;
}

input,
select {
    margin-top: 6px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #e5e7eb;
    background: #fff;
    font-size: 14px;
    outline: none;
}

#name {
    background-color: #fdebc0;
    border: 2px solid #eabe54;
}

button {
    width: 100%;
    background-color: #f5b400;
    border: none;
    border-radius: 12px;
    padding: 14px 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 0 #d89c00;
}

.hidden {
    display: none;
}

/* LOADING */
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #fdebc0;
    border-top-color: #eabe54;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 15px;
}

#paragraph-loader {
    text-align: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#result-screen {
    text-align: center;
    font-size: 18px;
    background: #fff6e8;
    border-radius: 18px;
    padding: 30px;
}

@media (max-width: 480px) {

    .container {
        background-image: url('./img/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .screen {
        padding: 10px;
    }

    form {
        padding: 20px;
        border-radius: 14px;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    label {
        font-size: 13px;
        margin-bottom: 14px;
    }

    input,
    select {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 15px;
        padding: 12px;
    }

    #result-screen {
        font-size: 16px;
        padding: 20px;
    }
}